In [9]:
import pandas as pd
from sklearn import preprocessing

### Importamos y mostramos los .csv

In [3]:
train = pd.read_csv("./Input/train.csv")
train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1   1   1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2   2   1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3   3   1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4   4   1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [4]:
pred=pd.read_csv("./Input/predict.csv")
pred.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.45  Premium     E     SI1   62.8   58.0  4.88  4.84  3.05
1   1   1.23    Ideal     H     SI1   61.0   56.0  6.96  6.92  4.23
2   2   0.33    Ideal     I      IF   61.8   55.0  4.46  4.47  2.76
3   3   0.51  Premium     D     VS2   58.0   60.0  5.29  5.26  3.06
4   4   0.40  Premium     E     VS2   62.2   59.0  4.71  4.74  2.94

### Comprobamos si existe alg√∫n valor null

In [5]:
train.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [6]:
pred.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
dtype: int64

### Comprobamos que tipo de datos contiene cada columna

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       40455 non-null  int64
 1   carat    40455 non-null  float64
 2   cut      40455 non-null  object
 3   color    40455 non-null  object
 4   clarity  40455 non-null  object
 5   depth    40455 non-null  float64
 6   table    40455 non-null  float64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
 10  price    40455 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 3.4+ MB

#### Para poder obtener mejores resultados pasaremos todos los valores "object" a "int" o "float"

In [10]:
### Esta funci√≥n cambia los valores object de las columnas a n√∫meros,del 0 a tantos como tengas, de forma m√°s o menos l√≥gica
label = preprocessing.LabelEncoder()

In [12]:
train["color"] = label.fit_transform(train["color"]) ## Solo lo usamos en esta columna ya que sigue un l√≥gico correcta

In [13]:
### Para el resto de columnas usamos el metodo replace, ya que tienen poco valores √∫nicos
train['cut']=train['cut'].replace({"Fair": 4, "Good": 3, "Very Good":1, "Ideal":1, "Premium":0})
train['clarity']=train['clarity'].replace({"I1": 7, "SI2":6, "SI1":5, "VS2":4, "VS1":3, "VVS2":2, "VVS1":1, "IF":0})

#### Usamos la misma t√©cnica para el dataframe "pred"

In [14]:
pred['cut']=pred['cut'].replace({"Fair": 4, "Good": 3, "Very Good":1, "Ideal":1, "Premium":0})
pred['clarity']=pred['clarity'].replace({"I1": 7, "SI2":6, "SI1":5, "VS2":4, "VS1":3, "VVS2":2, "VVS1":1, "IF":0})
pred["color"] = label.fit_transform(pred["color"])

In [15]:
train.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.50    1      0        4   62.3   55.0  5.11  5.07  3.17   1845
1   1   1.54    3      5        3   63.6   60.0  7.30  7.33  4.65  10164
2   2   1.32    1      6        6   61.7   60.0  6.95  7.01  4.31   5513
3   3   1.20    1      5        5   62.1   55.0  6.83  6.79  4.23   5174
4   4   1.73    0      5        5   61.2   60.0  7.67  7.65  4.69  10957

In [16]:
pred.head()

   id  carat  cut  color  clarity  depth  table     x     y     z
0   0   0.45    0      1        5   62.8   58.0  4.88  4.84  3.05
1   1   1.23    1      4        5   61.0   56.0  6.96  6.92  4.23
2   2   0.33    1      5        0   61.8   55.0  4.46  4.47  2.76
3   3   0.51    0      0        4   58.0   60.0  5.29  5.26  3.06
4   4   0.40    0      1        4   62.2   59.0  4.71  4.74  2.94

### Con los dataframe ya limpios, los exportamos a un nuevo csv para poderlos usar m√°s comodamente

In [17]:
train.to_csv('clean_train.csv',index=False)

In [18]:
pred.to_csv('clean_pred.csv',index=False)