In [1]:
import pandas as pd
import h2o
from h2o.automl import H2OAutoML
from sklearn import preprocessing

### Iniciamos el cluster

In [22]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.271-b09, mixed mode, sharing)

C:\Users\alber\anaconda3\lib\site-packages\h2o\backend\server.py:385: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Starting server from C:\Users\alber\anaconda3\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\alber\AppData\Local\Temp\tmpelaetw98
  JVM stdout: C:\Users\alber\AppData\Local\Temp\tmpelaetw98\h2o_alber_started_from_python.out
  JVM stderr: C:\Users\alber\AppData\Local\Temp\tmpelaetw98\h2o_alber_started_from_python.err
  Server is running at http://127.0.0.1:54323
Connecting to H2O server at http://127.0.0.1:54323 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         04 secs
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.2
H2O_cluster_version_age:    18 days
H2O_cluster_name:           H2O_from_python_alber_l817xw
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    247.5 Mb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54323
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ---------------------------------------------------------

### Importamos los dataset

In [31]:
print('Loading dataset.')
train = h2o.import_file("./Input/clean_train.csv")
test = h2o.import_file("./Input/clean_pred.csv")

Loading dataset.
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [24]:
x = train.columns ## La variable x contiene la lista de columnas utilizadas para entrenamiento
y = "price" ## especifica el nombre de la columna que queremos predecir
x.remove(y) ## Eliminamos la columna 'price' de x

### Iniciamos el proceso de optimización y búsqueda algorítmica

In [25]:
automl = H2OAutoML(max_runtime_secs=1200)
automl.train(x=x, y=y, training_frame=train)

AutoML progress: |
14:01:00.713: AutoML: XGBoost is not available; skipping it.

████████████████████████████████████████████████████████| 100%

In [26]:
predictions = automl.predict(test)

stackedensemble prediction progress: |████████████████████████████████████| 100%

### Convertimos las predicciones a DataFrame

In [28]:
sub = predictions.as_data_frame()
columns = ['id','price']
sub =sub.reset_index()
sub.columns = columns

In [29]:
sub.to_csv('modelh.csv',index=False)

In [32]:
sub

          id        price
0          0   944.332205
1          1  6720.555087
2          2   740.376879
3          3  1785.022053
4          4   938.124678
...      ...          ...
13480  13480   425.437015
13481  13481  4250.617853
13482  13482   922.225998
13483  13483   678.804632
13484  13484  4332.735580

[13485 rows x 2 columns]